// site colors
$white: #ffffff;
$black: #000000;
$aqua: #00ffb2;
$darkAqua: #00f2ad;
$rose: #f8c1ce;
$darkRose: #f76f8e;
$blue: #184a9c;
$darkBlue: #003c4c;
$darkestBlue: #29324d;
$red: #ff4343;
$darkRed: #e53e3e;
$violet: #623cea;
$offWhite: #f8f4f3;
$lavender: #9f88f0;
$darkSlateGray: #004a64;
$turquoise-blue: #00b9d1;
$light-aqua: #97fae9;
$darkBlack: #212121;
$darkOrange: #fc4c02;
$gray: #ccc;
$darkGray: #3c3c3c;
$lightGray: #f7f7f7;
